body {
    background: #20262E;
    padding: 20px;
    font-family: Helvetica;
}
input{
    width: 250px;
    border-radius: 5px;
    padding: 8px 14px;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
input.no_active{
    color: silver;
    font-style: italic;
}
input.active{
    color: black;
    font-style: normal;
}
select.edit{
    width: 250px;
    border-radius: 5px;
    padding: 8px 14px;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.box {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    transition: all 0.2s;
    margin: 10px;
    width: 200px;
    display: inline-block;
}

.button {
    background: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    margin-bottom: 10px;
    font-size: 15px;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    text-decoration: none;
    display: inline-block;
}
.button:hover {
    background: #119500;
    cursor:pointer;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);;
}

.centerWindow {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 12px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 900px;
}
.left{
    text-align: left;
    margin-bottom: 10px;
}
.selectedRow td{
    background-color: #0084ff;
    color: #fff;
}
.hide_object
{
    display: none;
}